#portfolio {
    margin: 0;
    width: 100%;
    height: 70vh;
    background-color: rgb(220, 39, 39);
    box-sizing: content-box;
    position: relative;
    text-align: center;
}

.win {
    background-color: rgb(255, 20, 20);
    width: 50vh;
    height: 60vh;
    margin: 5vh;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 10%;
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;
    color: beige;
    position: relative;

}

.portfolio-img {
    width: 45vh;
    margin: 3vh;
    border-radius: 50%;
    transition: border-radius 0.5s;
}

.portfolio-img:hover {
    border-radius: 0;
}